<div class="projects">
  <h1>Projekte</h1>
  <div class="projectWrapper">
    <div class="project" id="weatherApp" [ngStyle]="{'display': slideIndex == 0 ? 'block' : 'none'}" (click)="router.navigate(['weatherApp'])">
      <div class="projectFadeGradient">
        <h3>Wetter-App</h3>
      </div>
    </div>
    <div class="project" id="pong" [ngStyle]="{'display': slideIndex == 1 ? 'block' : 'none'}" (click)="router.navigate(['pong'])">
      <div class="projectFadeGradient">
        <h3>Pong</h3>
      </div>
    </div>
    <button class="projectButton left" (click)="plusSlides(-1)"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button class="projectButton right" (click)="plusSlides(+1)"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
</div>
