<div class="projects">
  <h1>
    <mat-icon>whatshot</mat-icon>
    Projekte
    <mat-icon>whatshot</mat-icon>
  </h1>
  <div class="projectWrapper">
    <div class="project" *ngFor="let project of projects; index as i"
         [style.background-image]="'url(' + project.links.img + ')'"
         [ngStyle]="{'display': slideIndex == i ? 'block' : 'none'}" (click)="router.navigate([project.name])"
         (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">
      <div class="projectFadeGradient">
        <h3>{{project.name}}</h3>
      </div>
    </div>
    <button class="projectButton left" (click)="plusSlides(-1)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button class="projectButton right" (click)="plusSlides(+1)">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
