.welcomeText {
  width: fit-content;

  div {
    width: 0;
    letter-spacing: 3px;
    overflow: hidden;
    font-size: min(max(35px, 4vw), 90px);
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    white-space: nowrap;
    border-right: 3px solid transparent;
    margin: 0 auto;
    animation: typing 3s forwards, blink-caret 1.5s step-end 5;
    animation-delay: 0.4s;
  }
}

.projectsScrollLink {
  text-decoration-line: underline;
  text-decoration-color: var(--accentColor);
}

.projectsScrollLink:hover{
  cursor: pointer;
}

