<div class="welcomeText" (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">
  <div>Willkommen.</div>
</div>
<div (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">
  Hi, ich bin <span class="highlightedText">Florian</span>, Full Stack <span class="highlightedText">Softwareentwickler</span> mit Expertise in den
  Frameworks Angular und Spring.
  <br>
  Meine Leidenschaft gilt effizientem <span class="highlightedText">Code</span> und modernem <span class="highlightedText">Design</span>.
  <br>
  Eine Auswahl meiner Projekte kannst du dir <span class="projectsScrollLink" (click)="mainPage.scrollDown()">hier</span> gerne anschauen!
</div>
