<div class="weatherAppTextWrapper">
    <img class="weatherAppImg" src="assets/img/wetterApp_Screenshot.PNG" alt="weatherAppScreenshot" (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">
  <div class="weatherAppText" (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">
    Mein erstes eigenes Angular Projekt ist diese Wetter-App.
    <br>
    Mittels API-Requests (OpenWeather) werden alle Daten geladen.
    <br>
    Der User kann sich dabei aussuchen, von welcher Stadt er die Wetterdaten abrufen möchte.
  </div>
</div>
