<div class="skills">
  <h1>
    <mat-icon>code</mat-icon>
    Skills
    <mat-icon>code</mat-icon>
  </h1>
  <div class="skillsWrapper">
    <div class="skillSet" (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">
      <h2>Sprachen</h2>
      <ul>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          Java
        </li>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          HTML
        </li>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          CSS/SCSS
        </li>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          JavaScript/TypeScript
        </li>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          SQL
        </li>
      </ul>
    </div>
    <div class="skillSet" (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">
      <h2>Software</h2>
      <ul>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          Git, GitHub/GitLab
        </li>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          IntelliJ
        </li>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          Sourcetree
        </li>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          Jira
        </li>
      </ul>
    </div>
    <div class="skillSet" (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">
      <h2>Verschiedenes</h2>
      <ul>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          Angular
        </li>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          Spring
        </li>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          Linux
        </li>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          Apache Tomcat
        </li>
        <li>
          <mat-icon>check_circle_outline</mat-icon>
          Scrum/Agile
        </li>
      </ul>
    </div>
  </div>
</div>

