<div class="skills">
  <h1>Skills</h1>
  <div class="skillsWrapper">
    <div class="skillSet">
      <h2>Sprachen</h2>
      <ul>
        <li>
          Java
        </li>
        <li>
          HTML
        </li>
        <li>
          CSS/SCSS
        </li>
        <li>
          Javascript/Typescript
        </li>
        <li>
          SQL
        </li>
      </ul>
    </div>
    <div class="skillSet">
      <h2>Software</h2>
      <ul>
      <li>
        Git, GitHub/GitLab
      </li>
      <li>
        IntelliJ
      </li>
      <li>
        Sourcetree
      </li>
      <li>
        Jira
      </li>
      <li>
        Confluence
      </li>
      </ul>
    </div>
    <div class="skillSet">
      <h2>Anderes</h2>
      <ul>
        <li>
          Scrum/Agile
        </li>
        <li>
          Linux
        </li>
        <li>
          Tomcat
        </li>
      </ul>
    </div>
  </div>
</div>

