<div class="content" (mousemove)="log($event)" (mouseleave)="hideMouse()" (mousedown)="changeMouse(true)"
     (mouseup)="changeMouse(false)">
  <div class="innerContentWrapper" @inAnimation>
    <div class="border borderTopLeft"></div>
    <div class="border borderBottomRight"></div>
    <div class="innerContent" @hideContent>
      <div class="header">
        <div class="headerIcons" id="home" (mouseenter)="mouseEnterText()" (mouseleave)="mouseLeaveText()" (click)="router.navigate([''])"></div>
        <div class="headerLinks">
          <a class="headerIcons" id="gitHub" href="https://github.com/FlorianGenz" target="_blank"
             (mouseenter)="mouseEnterText()" (mouseleave)="mouseLeaveText()"></a>
          <a class="headerIcons" id="mail" href="mailto:{{emailFirstPart}}@{{emailSecondPart}}.{{emailThirdPart}}" (mouseenter)="mouseEnterText()"
             (mouseleave)="mouseLeaveText()"></a>
         <!-- <a class="headerIcons" id="darkLightMode" (click)="changeBrightnessMode()" (mouseenter)="mouseEnterText()"
             (mouseleave)="mouseLeaveText()"></a> -->
        </div>
      </div>
      <div class="routerContent">
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<span id="cursor"></span>
