<div class="pongWrapper">
    <img class="pongImg" src="assets/img/pong_Screenshot.PNG" alt="pongScreenshot" (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">
  <div class="pongText" (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">
    Das traditionelle Pong-Spiel mit eigenen Features.
    <br>
    Der Spieler spielt gegen einen Bot, dessen Schwierigkeit über die Knöpfe über dem Canvas eingestellt werden kann (3 Stufen).
  </div>
</div>
