<div class="mainWrapper">
  <div class="landingPage">
    <div class="aboutWrapper">
      <app-about-text @fade></app-about-text>
    </div>
    <div class="profile"></div>
  </div>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <div class="footer">
    <div class="footerRow1">
      <div class="footerRow1Element" (click)="router.navigate(['legalNotice'])">Impressum</div>
      <div>|</div>
      <div class="footerRow1Element" (click)="router.navigate(['privacyPolicy'])">Datenschutz</div>
    </div>
    <div>
      Copyright © 2023 | All rights reserved.
    </div>
  </div>
  <div class="whiteBlur"></div>
</div>
