<div class="mainWrapper">
  <div class="landingPage">
    <div class="aboutWrapper">
      <app-about-text @fade></app-about-text>
    </div>
    <div class="profile"></div>
  </div>
  <app-projects id="projects"></app-projects>
  <app-skills></app-skills>

  <div class="footer">
    <div class="footerRow1">
      <div class="footerRow1Element" (click)="router.navigate(['legalNotice'])"
           (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">Impressum
      </div>
      <div>|</div>
      <div class="footerRow1Element" (click)="router.navigate(['privacyPolicy'])"
           (mouseenter)="portfolio.mouseEnterText()" (mouseleave)="portfolio.mouseLeaveText()">Datenschutz
      </div>
    </div>
    <div>
      Copyright © 2023 | All rights reserved.
    </div>
  </div>
</div>
