.mainWrapper {
  width: 100%;
  height: 100%;
  user-select: none;


  .landingPage{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: center;

    .aboutWrapper {
      width: 55%;
      min-width: 300px;
    }

    .profile{
      background-image: url("/assets/img/Profile_Picture.png");
      background-size: 100% 100%;
      max-width: 200px;
      max-height: 200px;
      width: 40vw;
      height: 40vw;
      border-radius: 50%;
      border: 3px solid;
      border-color: var(--fontColor);
      transition: all 0.2s ease-in-out;
    }

    .profile:hover{
      transform: scale(1.1);
      border-color: var(--mainGradient);
    }
  }

  .footer {
    justify-self: center;
    user-select: none;
    padding: 15px;
    margin-top: 150px;
    display: flex;
    background-color: var(--surfaceColor);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 12px;

    .footerRow1{
      display: flex;
      gap: 7px;

      .footerRow11:hover{
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
  }

// .whiteBlur{
  //  position: sticky;
  //bottom: 0;
  //  width: 100%;
  //background-image: linear-gradient(rgba(255, 255, 255 ,0), rgba(255, 255, 255, 0.05));
  //height: 60px;
  //}

}

@media only screen and (max-width: 800px) {
  .content {

    .innerContentWrapper {

      .innerContent {

        .mainWrapper {
          gap: 50px;

          .aboutWrapper{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
          }
        }
      }
    }
  }
}
