:root {
  --fontColor: white;
  --fontFamily: 'Courier New', monospace;
  --backgroundColor: #181818;
  --surfaceColor: #2E2E2E;
  --accentColor: #FF9816;
  --borderSize: min(1.5vw, 15px);
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--fontColor);
  height: 100%;
  background-color: var(--backgroundColor);
  overflow: hidden;
  font-family: var(--fontFamily);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.highlightedText{
  background-color: var(--accentColor);
  color: var(--backgroundColor);
  padding: 1px 7px;
  border-radius: 4px;
  font-weight: bold;
}

button{
  border: 2px solid var(--accentColor);
  background: transparent;
  border-radius: 5px;
  padding: 5px;
  color: var(--fontColor);
  transition: all 0.1s ease-in-out;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fontFamily);
}

button:hover{
  background: var(--accentColor);
  color: var(--backgroundColor);
  cursor: pointer;
}

a{
  color: var(--accentColor);
}

mat-icon{
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--accentColor) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accentColor);
  border-radius: 2px;
  border: none;
}

@keyframes gradientAnimation {
  0%{background-position: 50% 0}
  100%{background-position: 50% 100%}
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

@keyframes hideContent {
  0% {opacity: 0}
  65% {opacity: 0}
  100% {opacity: 1}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--fontColor); }
}

