:root {
  --fontColor: #DEDEDE;
  --fontFamily: 'Courier New', monospace;
  --backgroundColor: #232323;
  --minorGradient: linear-gradient(45deg, #c3ccd1, #5fa397, #236c66, #163651, #141c32);
  --mainGradient: linear-gradient(45deg, #e86af0, #ff00c1, #00fff9, #afffed, #ffffff);
  --borderSize: min(1.5vw, 15px);
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--fontColor);
  height: 100%;
  background-color: var(--backgroundColor);
  overflow: hidden;
  font-family: var(--fontFamily);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

@keyframes gradientAnimation {
  0%{background-position: 50% 0}
  100%{background-position: 50% 100%}
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

@keyframes hideContent {
  0% {opacity: 0}
  65% {opacity: 0}
  100% {opacity: 1}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--fontColor); }
}
